<!-- <button type="button" pButton label="PrimeNG"></button>
<div class="flex min-h-screen align-items-center justify-content-center">
  <div class="border-1 border-gray-400 border-round relative">
    <div
      class="flex align-items-center p-3 text-900 cursor-pointer"
      pStyleClass="@next"
      enterClass="hidden"
      enterActiveClass="scalein"
      leaveToClass="hidden"
      leaveActiveClass="fadeout"
      [hideOnOutsideClick]="true"
    >
      <span>Dropdown</span>
      <i class="pi pi-chevron-down ml-2"></i>
    </div>
    <div class="absolute shadow-2 min-w-full py-2 hidden origin-top">
      <ul class="list-none p-0 m-0">
        <li>
          <a
            class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
            href="#"
            >Item</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
            href="#"
            >Item</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
            href="#"
            >Item</a
          >
        </li>
        <li>
          <a
            class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
            href="#"
            >Item</a
          >
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="flex align-items-center justify-content-center">
  <router-outlet></router-outlet>
</div>
