<div class="flex align-items-start">
  <div class="card my-5 relative">
    <h5>Authors</h5>
    <p-table
      [value]="authors"
      [rowHover]="true"
      [columns]="cols"
      selectionMode="single"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button
            pButton
            label="New Author"
            class="p-button-outlined mb-2"
            icon="pi pi-plus"
            (click)="onNewAuthor()"
          ></button>
          <div *ngIf="selectedAuthor" class="flex gap-3">
            <button
              pButton
              pRipple
              label="Edit"
              type="button"
              icon="pi pi-pencil"
              class="p-button-outlined"
              (click)="onEditAuthor()"
            ></button>
            <button
              pButton
              pRipple
              label="Delete"
              type="button"
              icon="pi pi-times"
              class="p-button-danger p-button-outlined"
              [disabled]="canDeleteAuthor"
              (click)="onDelete()"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Name
            </div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Surname
            </div>
          </th>
          <th style="min-width: 14rem">
            <div class="flex justify-content-between align-items-center">
              Birth Year
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-author let-i="rowIndex">
        <tr
          [pSelectableRow]="author"
          [routerLink]="[i]"
          (click)="onSelect(i, author)"
        >
          <td>
            {{ author.name }}
          </td>
          <td>
            {{ author.surname }}
          </td>
          <td>
            {{ author.year }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="m-5"><router-outlet></router-outlet></div>
</div>
