<div class="grid">
  <div class="col-12">
    <form [formGroup]="readerForm" (ngSubmit)="onSubmit()">
      <div class="card p-fluid">
        <h5>{{ editMode ? "Edit Reader" : "Add Reader" }}</h5>
        <div class="field">
          <label htmlFor="name">Name</label>
          <input pInputText id="name" formControlName="name" type="text" />
        </div>
        <div class="field">
          <label htmlFor="surname">Surname</label>
          <input
            pInputText
            id="surname"
            formControlName="surname"
            type="text"
          />
        </div>
        <div class="flex gap-2">
          <button
            pButton
            label="Save"
            (click)="onSubmit()"
            class="p-button-success"
            [routerLink]="['/readers']"
            [disabled]="!readerForm.valid"
          ></button>
          <button
            pButton
            label="Cancel"
            [routerLink]="['/readers']"
            class="p-button-danger"
            (click)="onCancel()"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
